## Day13 - Data Manipulation using Pandas (Part1 - Series and Data Frame)

- Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures.
- Self Learning Resource
    - Pandas in 10 Minutes: <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html"> Click Here </a>
    - Video1: https://www.youtube.com/watch?v=QUClKFFn1Vk
    - Video2: https://www.youtube.com/watch?v=tW1BWtQRZ2M
    - Video3: https://www.youtube.com/watch?v=xx4Vkc5RrWY
    


##### Note: 
1. First Clean the Evironment (Go to "Kernel" Menu --> "Restart & Clean Output"
2. To execute the code --> Click on a cell and press cntrl + enter key

## Key Features of Pandas
- Fast and efficient DataFrame object with default and customized indexing.
- Tools for loading data into in-memory data objects from different file formats.
- Data alignment and integrated handling of missing data.
- Reshaping and pivoting of date sets.
- Label-based slicing, indexing and subsetting of large data sets.
- Columns from a data structure can be deleted or inserted.
- Group by data for aggregation and transformations.
- High performance merging and joining of data.
- Time Series functionality.

# Import pandas library

In [ ]:
import pandas as pd

## <span style='color:Red'> 1. Working with Series</span>
- Series is a one-dimensional labeled array

### 1.1 Create a series using list

In [ ]:
import pandas as pd

a1 = [1, 3, 5, 7, 9, 2, 4, 6, 8]
a2 = pd.Series(a1)

print(a2)

### 1.2 A series has been created with data along with it's Index

In [ ]:
import pandas as pd

a1 = [1, 3, 5, 7, 9, 2, 4, 6, 8]
a2 = ['a','b','c','d','e','f','g','h','i']
a3 = pd.Series(a1, a2)
#a3 = pd.Series(a2, a1)
print(a3)

##### Access the data in series

In [ ]:
print ("a3['b'] -->",a3['b'])
print ("a3['i'] -->",a3['i'])

### 1.3 Creating a series using dictionary

In [ ]:
import pandas as pd

d1 = {'Oranges':3, 'Apples':4, 'Mangoes':2, 'Banana':12}
d2 = pd.Series(d1)

print (d2)
print (type(d2))

### 1.4 Creating a series using nested list

In [ ]:
import pandas as pd

a1 = [[1,3,5],[2,4,6]]
a2 = pd.Series(a1)

print (a2)

## <span style='color:Red'> 2. DataFrames</span>
- DataFrames are 2 dimensional data structure which has rows and columns.

### 2.1 Creating a data frame using dictionary

In [ ]:
import pandas as pd

d1 = {'Age':[23,33,12,45],'Name':['Rahul','John','Robert','Sneha']}
d2 = pd.DataFrame(d1)

d2

### 2.2 Creating a data frame using nested list

In [ ]:
import pandas as pd

d1 = [[4,1900],[3,1600],[2,1100],[1,850]]
d2 = pd.DataFrame(d1, columns = ['Bedrooms','Area'])

d2

### 2.3 Assigning indexes within a data frame

In [ ]:
import pandas as pd

d1 = {'Name':['Ankit','Rishitha','Karthik','Vishnu'],'Marks':[78,67,98,56]}
d2 = pd.DataFrame(d1,index = ['Rank 2','Rank 3','Rank 1','Rank 4'])

d2

### 2.4 Creating data frame using list of dictionaries

In [ ]:
import pandas as pd

d1 = [{'A':65,'B':66,'C':67},{'A':97,'B':98,'C':99}]
d2 = pd.DataFrame(d1)

d2

### 2.5 Creating random data frame

In [ ]:
import numpy as np
import pandas as pd
import random as r
import string as s

df = pd.DataFrame({'A': [r.randint(1, 9)     for x in range(5)],
                   'B': [r.randint(1, 9)*10  for x in range(5)],
                   'C': [r.randint(1, 9)*100 for x in range(5)],
                   'D': [ "".join(r.sample(s.ascii_letters,5)) for x in range(5)],
                   'E': 'Hello',
                   'F': 1})

df

### 2.6 Describe the data frame

In [ ]:
df.describe()  # Only numeric columns are selected

### 2.7 Date as index

In [ ]:
import numpy as np
import pandas as pd

dates = pd.date_range('20130101', periods=6)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

### 2.8 List the column names

In [ ]:
df.columns

### 2.9 List the index names

In [ ]:
df.index

### 2.10 Sorting by an axis

In [ ]:
df.sort_index(axis=1, ascending=False)

### 2.11 Sorting wrt to column name

In [ ]:
df.sort_values(by='B', ascending=True)

### 2.12 Selecting Data

##### Example 1

In [ ]:
df[df > 0]     # Put NaN where condition is false

##### Example 2

In [ ]:
df[df['A'] > 0]

## <span style='color:Red'> 3. Operations on DataFrames</span>
- Select
- Append
- Concatinate
- Join
- Merge

### 3.1 Accessing data from data frame - Part 1

#### Syntax
- #### df [ Row] [ Col ]
- #### df [ Row_Range ] [ Col_Names_in_List ]

In [ ]:
# Un-comment each row and run

#df                       # Show all records
#df[:]                    # Show all records
#df[1:4]                  # Show 1,2,3 rows of all Columns
#df[:]['A']               # Show all rows of Column A
#df[:]['A','B']           # Error; Column names must be in the list
#df[:][['A','B']]         # Show all rows of Column A, B
#df[1:3][['A','B','C']]   # Show 1,2 rows of Column A, B, C

### 3.2 Accessing data from data frame using column names (using loc) - Part 2 
#### Syntax
- #### df.loc [ Row_Range , Col_Names_in_List ]

In [ ]:
# Un-comment each row and run

#df.loc                       # Print the memory location
#df.loc[1:4]                  # Show 1,2,3 rows of all Columns
#df.loc[:]                    # Show all records
#df.loc[:, ]                  # Show all records
#df.loc[:, :]                 # Show all records
#df.loc[: , 'A','B']          # Error; Column names must be in the list
#df.loc[: , ['A','B']]        # Show all rows of Column A, B
#df.loc[2: , ['A','B','D']]   # Show rows from 2 to end of A, B, D columns
#df.loc[2: , ]                # Show rows from 2 to end of all columns
#df.loc[1:3, ['A','B','D']]   # Show rows from 1 to 3 of A, B, D columns
#df.loc[:, []]                # Show all index but no columns value
#df.loc[:-1, ]                # Show column names

### 3.3 Accessing data from data frame using column index (using iloc) - Part 3
#### Syntax
- #### df.iloc [ Row_Range, Col_Index_in List ]

In [ ]:
# Un-comment each row and run

#df.iloc[,]                    # Error
#df.iloc[:,]                   # Show all rows of all columns
#df.iloc[:,1,2,3]              # Error
#df.iloc[:,[1,2,3]]            # Show all rows of 1, 2, 3 columns
#df.iloc[2:,]                  # Show rows from 2 to end of all columns
#df.iloc[2:, [0,1,3]]          # Show rows from 2 to end of 0, 1, 3 columns
#df.iloc[1:3, ]                # Show rows from 1 to 3 of all columns
#df.iloc[1:3, [0,1]]           # Show rows from 1 to 3 of 0, 1 columns
#df.iloc[1:3, 1:5]             # Show rows from 1 to 3 of 1-4 columns
#df.iloc[1:3, :5]              # Show rows from 1 to 3 of 0-4 columns
#df.iloc[1:3, :-2]             # Show rows from 1 to 3 of 0 to 2nd last columns
#df.iloc[:-2, 1:3]             # Show rows from 0 to 2nd last of 1-2 columns

### 3.4 Concatenate data frames

In [ ]:
import pandas as pd 
import numpy as np

df1 = pd.DataFrame(np.random.randn(5, 4))
df1

In [ ]:
df2 = pd.DataFrame(np.random.randn(4, 3))
df2

##### axis = 1 (Merge column wise)

In [ ]:
df3 = pd.concat([df1,df2], axis=1)
df3

##### axis = 0 (Merge row wise)

In [ ]:
df3 = pd.concat([df1,df2], axis=0)
df3

##### Change index using reset_index()

In [ ]:
df3.reset_index(drop=True, inplace=True)
df3

##### ignore_index=True

In [ ]:
df3 = pd.concat([df1,df2], ignore_index=True)
df3

### 3.5 Shuffle data frames (row wise)

In [ ]:
df3.sample(frac=1)

### 3.6 Concatenate data frames using join = 'inner' (intersection)

In [ ]:
import pandas as pd 
import numpy as np

df1 = pd.DataFrame(np.random.randn(5, 4))
df1

In [ ]:
df2 = pd.DataFrame(np.random.randn(4, 3))
df2

##### join = 'inner' and axis = 0 (intersection of dataframe columnwise)

In [ ]:
df3 = pd.concat([df1,df2],axis=0, join="inner")
df3

##### join = 'inner' and axis = 1 (intersection of dataframe row wise; using index)

In [ ]:
df3 = pd.concat([df1,df2],axis=1, join="inner")
df3

### 3.7 Concatenate data frames using join = 'outer' (union)

In [ ]:
import pandas as pd 
import numpy as np

df1 = pd.DataFrame(np.random.randn(5, 4))
df1

In [ ]:
df2 = pd.DataFrame(np.random.randn(4, 3))
df2

##### join = 'outer' and axis = 0 (union of dataframe columnwise)

In [ ]:
df3 = pd.concat([df1,df2],axis=0, join="outer")
df3

##### join = 'outer' and axis = 1 (union of dataframe row wise; using index)

In [ ]:
df3 = pd.concat([df1,df2],axis=1, join="outer")
df3

## <span style='color:Red'> Join Data frames using merge()</span>
- Pandas have options for high-performance in-memory merging and joining.
- When we need to combine very large DataFrames, joins serve as a powerful way to perform these operations swiftly.
- Joins can only be done on two DataFrames at a time, denoted as left and right tables. 
- The key is the common column that the two DataFrames will be joined on. 
- Itâ€™s a good practice to use keys which have unique values throughout the column to avoid unintended duplication of row values. 
- Pandas provide a single function, merge(), as the entry point for all standard database join operations between DataFrame objects. 
- There are four basic ways to handle the join (inner, left, right, and outer), depending on which rows must retain their data

### 3.8 Merge 1: Merging a dataframe with one unique key combination

In [ ]:
import pandas as pd 
 
# Define a dictionary containing employee data 
df1 = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32],})
df1

In [ ]:
df2 = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']})
df2

##### Merge with one unique key combination

In [ ]:
df3 = pd.merge(df1, df2, on='Key')
df3

### 3.9 Merge 2: Merging dataframe using multiple join keys

In [ ]:
# importing pandas module
import pandas as pd 
 
df1 = pd.DataFrame({'Key1': ['K0', 'K1', 'K2', 'K3'],
         'Key2': ['K0', 'K1', 'K0', 'K1'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32],})
df1

In [ ]:
df2 = pd.DataFrame({'Key1': ['K0', 'K1', 'K2', 'K3'],
         'Key2': ['K0', 'K0', 'K0', 'K0'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['BTech', 'BA', 'BCom', 'BE']})
df2

##### Merge dataframe using multiple keys

In [ ]:
df3 = pd.merge(df1, df2, on=['Key1', 'Key2'])
df3

### 3.10 Merge 3: Merging dataframe using <span style='color:Red'> how </span> in an argument
- We use how argument to merge specifies how to determine which keys are to be included in the resulting table. 
- If a key combination does not appear in either the left or right tables, the values in the joined table will be NA. 
- Here is a summary of the how options and their SQL equivalent names:

![title](imgDay13\02.png)

![title](imgDay13\01.png)

##### Merge using keys from left data frame

In [ ]:
df3 = pd.merge(df1, df2, on=['Key1', 'Key2'],how='left')
df3

##### Merge using keys from right data frame

In [ ]:
df3 = pd.merge(df1, df2, on=['Key1', 'Key2'],how='right')
df3

##### Merge using keys from outer data frame

In [ ]:
df3 = pd.merge(df1, df2, on=['Key1', 'Key2'],how='outer')
df3

##### Merge using keys from inner data frame

In [ ]:
df3 = pd.merge(df1, df2, on=['Key1', 'Key2'],how='inner')
df3

### 3.11  Concatenating DataFrame using .append()

In [ ]:
# importing pandas module
import pandas as pd 
 
df1 = pd.DataFrame({'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}, index=[0, 1, 2, 3])
df1

In [ ]:
df2 = pd.DataFrame({'Name':['Abhi', 'Ayushi', 'Dhiraj', 'Hitesh'], 
        'Age':[17, 14, 12, 52], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']}, index=[4, 5, 6, 7])
df2

In [ ]:
df3 = df1.append(df2)
df3

## <span style='color:Red'> 4. Working with Date</span>
### 4.1 Generate dates for a period (days)

##### Example 1

In [ ]:
import pandas as pd
dates = pd.date_range('20130101', periods = 6)
dates

##### Example 2

In [ ]:
import pandas as pd
dates = pd.date_range(start='1/1/2018', periods = 10)
dates

### 4.2 Generate dates within range
##### Example 1

In [ ]:
import pandas as pd
dates = pd.date_range(start='1/1/2018', end='1/15/2018')
dates

##### Example 2

In [ ]:
import pandas as pd
dates = pd.date_range(start='1-1-2018', end='1/15/2018')
dates

### 4.3 Generate dates till end date

In [ ]:
import pandas as pd
dates = pd.date_range(end='1/1/2018', periods=12)
dates

### 4.4 Generate dates with days frequency with multiple GAP

In [ ]:
import pandas as pd
dates = pd.date_range(start='1/1/2018', periods=12, freq='2D')  # D = Days
dates

### 4.5 Generate dates with month frequency

In [ ]:
import pandas as pd
dates = pd.date_range(start='1/1/2018', periods=5, freq='M')   # M = Months
dates

### 4.6 Generate dates with month frequency with multiple GAP

In [ ]:
import pandas as pd
dates = pd.date_range(start='1/1/2018', periods=5, freq='3M')    # M = Months
dates

### 4.7 Generate dates with month frequency with END OF MONTH

In [ ]:
import pandas as pd
dates = pd.date_range(start='2/25/2018', periods=5, freq=pd.offsets.MonthEnd(3))
dates

### 4.8 Generate dates with month frequency with START OF MONTH

In [ ]:
import pandas as pd
dates = pd.date_range(start='1/10/2018', periods=5, freq=pd.offsets.MonthBegin(1))
dates

### 4.9 Generate random data frame with date as index

In [ ]:
import pandas as pd
import numpy as np

dates = pd.date_range('20130101', periods=6)
print(dates)

#Generate a random matrix of 6 by 4
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df